<footer class="footer-main">
    <div class="container padding-30">
        <div class="row">
            <div class="col-12">
                <img class="rounded mx-auto d-block" src="/images/onload.png" alt="footer-logo"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 justify-content-start">
                <a href="//code" target="_blank">Code of Conduct</a>
            </div>
            <div class="col-xs-6 justify-content-end">

            </div>
        </div>
    </div>
</footer>
