<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    {{>include_css}}
    <!-- FAVICON -->
    <link href="images/favicon.png" rel="shortcut icon">

</head>
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
{{>navbar}}
{{{body}}}
{{>footer}}
{{>include_scripts}}
</body>
</html>

